<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 使用 thymeleaf 语法 不用写 上下文路径 -->
<form th:action="@{/updateStu}" method="get">
    <input type="hidden" name="id" th:value="${stu.id}">
    学生姓名:<input type="text" name="name" th:value="${stu.name}"> <br>
    学生年龄 :<input type="text" name="age" th:value="${stu.age}"> <br>
    学生描述 :<input type="text" name="info" th:value="${stu.info}"> <br>
    <input type="submit" value="修改学生">
</form>

</body>
</html>